#logo{
    width:33%;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img {
    position: relative;
    top: -15px;
    text-align: right;
}

#button {
    background-color: #C97B09;
    color: white;
    display: block;
    margin: auto;
    /* padding: 10px 20px 10px 20px; */
    border-radius: 25px;
    font-size: 1.8rem;
}
}
.nav-link {
    color: #C97B09;
    margin: 0;
}
    
body{
    background: url(images/rumah\ panggung.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 84vh;
    color:#F2F4E9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 1,3rem;
    border-radius: 10px;
}

p{
    padding-top: 5%;
    text-align: center;
    font-size: 1,3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
