#logo{
    padding-left: 0;
    width:33%;
}

.nav-link {
    color: #C97B09;
    margin: 0;
}
  
.img {
    position: relative;
    top: -15px;
    text-align: right;

body{
    background: url(https://images.pexels.com/photos/4090091/pexels-photo-4090091.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center fixed;
    background-size: cover;
    height: 84vh;
    color:  #C97B09;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    border-radius: 10px;
}
@media screen and (max-width: 1024px)

p {
    padding-top: 30vw;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
#button {
    background-color: #C97B09;
    color: white;
    display: block;
    margin: auto;
    /* padding: 10px 20px 10px 20px; */
    border-radius: 25px;
    font-size: 1.8rem;


h1{
    border-radius: 6px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5rem;
    line-height: 10%;
    font-size: 3,5rem;
    color:  #C97B09;
}

p{
    text-align: center;
}